
.btn, .btn:hover, .btn:active, .btn:visited {
    background: #c94b4b !important;
    border-color: #8064A2;
    color: #FFFFFF;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    outline: none !important;
    box-shadow: none;
}
 
.btn-primary {
    background: #c94b4b;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #c94b4bc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #c94b4b;
}


.navbar {
    background-color: #450055 !important;
}

body { 
    padding-top: 0px;

}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

.card-img-wrap {
  overflow: hidden;
  position: relative;
}
.card-img-wrap:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255,255,255,0.3);
  opacity: 0;
  transition: opacity .25s;
}
.card-img-wrap img {
  transition: transform .25s;
  width: 100%;
}
.card-img-wrap:hover img {
  transform: scale(1.2);
}
.card-img-wrap:hover:after {
  opacity: 1;
}


.profile-page .page-header {

    background-color: grey;
    height: auto;
    background-position:center;
}
