<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.baohong.poop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".CreateName"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CreateContactInfo"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CreateUserPass"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CreateVenAddress"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CreateVenOrFT"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CreateFTLocation"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainContentPg"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Profile_page"></activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
    </application>

</manifest>